 
/* Gallery styles */

#gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	
	background:url(images/gallerymac/panel.jpg) repeat-x bottom center #ffffff;
	
	/* The width of the gallery */
	width:635px;
	overflow:hidden;
}

#slides{
	/* This is the slide area */
	height:300px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:635px;
	overflow:hidden;
}

.slide{
	float:left;
}

#menu{
	/* This is the container for the thumbnails */
        margin-top:7px;
	height:50px;
}


li.menuItem {
	/* Every thumbnail is a li element */
        margin-top: -20px;
	width:100px;
	display:inline-block;
	list-style:none;
	height:48px;
	overflow:hidden;
}

li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(images/gallerymac/pic_bg.png) repeat;
}

li.act,li.act:hover{
	/* The active state of the thumb */
	background:url(images/gallerymac/active_bg.png) no-repeat;
}

li.act a{
	cursor:default;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	background:url(images/gallerymac/divider.png) no-repeat right;
}

li a{
	display:block;
	background:url(images/gallerymac/divider.png) no-repeat right; 
}

a img{
	border:none;
}

 
